<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body bgcolor="#FFFFFF" style="margin: 0; padding: 0;">

    <table cellpadding="0" cellspacing="0" position="absolute" width="768px" height="756px">

        <tr position="absolute" width="204px" height="63px"
            style="padding: 80px 0px 0px 270px; font-family: Raleway; font-style: normal; font-weight: bold; font-size: 18px; line-height: 21px; text-align: center; letter-spacing: 0.245em; color: #252525;">
            <td>

                <div>
                    <img width="100px" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flogos-marques.com%2Fwp-content%2Fuploads%2F2021%2F02%2FBMW-Logo-1916-2048x1158.png&f=1&nofb=1" alt="Logo">
                </div>


            </td>

        </tr>
        <tr position="absolute" align="center" width="108px" height="27px"
            style="font-weight: 500; font-size: 20px; line-height: 27px; color: #323232;">

            <td>

                <div>

                    ¡Hola 
                    <span data-merge-field-property="First Name" data-merge-field-default="there">
                        {{name}}
                        </span>!


                </div>

            </td>

        </tr>
        <tr position="absolute" width="427px" height="38px"
            style="padding: 242px 0px 0px 171px; font-family: Avenir; font-style: normal; font-weight: normal; font-size: 14px; line-height: 19px; text-align: center; color: #595959;">

            <td>
                <p>¿Estás list@ para responder una encuesta? ¡Ve a tu perfil y contéstala ya! Recuerda que obtienes
                    puntos por cada encuesta completada que puedes canjear por cualquiera de nuestros premios.
                    <br/>
                    ¿Cómo responder tu encuesta?
                      <br/>
                    1. Ingresa a tu perfil
                         <br/>
                    2. Ve a la sección de Encuestas
                              <br/>
                    3. Da clic en Responder          
                                   <br/>
                    4. Ingresa el Código de acceso
                      <br/>
                    5. ¡Completa la encuesta para obtener tus puntos!
                    </p>
            </td>
        </tr>
        <tr position="absolute" width="427px" height="19px" align="center" padding="304px 0px 0px 171px">


            <td>
                <a href="https://www.collectumdata.com.mx/perfil/encuestas" target="_blank"
                    style="font-family: Avenir; font-style: normal; font-weight: normal; font-size: 14px; line-height: 19px; text-align: center; color: #2D9CDB;">
                    www.bmw.com.mx
                </a>

            </td>

        </tr>
        <tr position="absolute" align="center" width="174.87px" height="180px" style="padding: 367px 0px 0px 297px;">

            <td>

                <img width="300px" src="https://i.imgur.com/tyKoFAW.png" alt="Logo3">

            </td>

        </tr>



        <tr position="absolute" width="768px" height="32px" left="0px" top="724px"
            style=" background: #323232; border: 1px solid #323232; box-sizing: border-box;">

            <td position="absolute" align="center" width="427px" height="19px" left="171px" top="730px">

                <a style="font-family: Avenir; font-style: normal; font-weight: normal; font-size: 14px; line-height: 19px; text-align: center; color: #FFFFFF;"
                    href="https://www.collectumdata.com.mx">Ingresa a la encuesta</a>

            </td>

        </tr>

    </table>


</body>

</html>